<!DOCTYPE html>
<html lang="en">

<head>
  {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Taxi Booking</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .container {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      margin-top: 50px;
      color: #333;
    }

    .booking-form {
      margin-top: 30px;
      background-color: #fff;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .footer {
      background-color: #333;
      color: #fff;
      padding: 50px 0;
      margin-top: 100px;
    }

    .form-group {
      margin-bottom: 20px;
      text-align: left;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }

    input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 15px 20px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    /* Media Queries for Responsiveness */
    @media screen and (max-width: 768px) {
      .container {
        width: 90%;
      }

      input[type="submit"] {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 576px) {
      input[type="submit"] {
        font-size: 14px;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0056b3;">
    <a class="navbar-brand" href="#" style="font-weight: bold;color: rgb(255, 255, 255);margin-left: 30PX;"><img
        style="margin-right: 10px;" src="/static/t2.png/" alt="" width="42px">TaxiRide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;align-items: center;">
      <div style="width: 50%;align-items: baseline;;">
        <ul class="navbar-nav ml-auto" style="justify-content: space-around;align-items: baseline;">
          <a class="nav-link"
            style="color: rgb(229, 232, 234); font-weight: bold; font-size: 1rem; outline: none; border: none; background-color: none;margin-left: 5px;"
            id="log" type="button" data-toggle="modal" data-target="#signinmodal">New Trip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'tripage'%}"
              style="color: rgb(237, 242, 246); font-weight: bold; font-size:medium; outline: none; border: none; background-color: none;margin-left: 5px;">Trips</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'logout'%}"
              style="color: rgb(222, 228, 233); font-weight: bold; font-size: medium; outline: none; border: none;margin-left: 5px;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row" style="justify-content: center;margin-top: 40px;">
      <div class="col-md-6" style="background-color: #0056b3;border-radius: 10px;">
        <h5 style="color: #fff;font-size: medium;font-weight: bold;margin-top: 10px;">NEW TRIP</h1>
          <form action="{%url 'startrip'%}" method="post" style="margin-top: 20px;margin-bottom: 20px;"
            onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="form-group">
              <!-- <label for="name">Name:</label> -->
              <input class="form-control" type="text" id="trip_number" name="trip_number" value="{{trip.tripnumber}}" required
                readonly>
              <span id="nameError" class="error" style="color: #ffdbdb;"></span>
            </div>
            <div class="form-group">
              <!-- <label for="name">Name:</label> -->
              <input class="form-control" type="text" id="name" name="name" required placeholder="Driver Name">
              <span id="nameError" class="error" style="color: #ffdbdb;"></span>
            </div>
            <div class="form-group">
              <!-- <label for="email">Email:</label> -->
              <input class="form-control" type="text" id="guest" name="guest" required placeholder="Guest Name">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;">From Date</span>
                  </div>
                  <div class="row-3">
                    <input class="form-control" style="margin-top: 5px;" type="date" name="fdate">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;margin-top: 10px;">Start Km</span>
                  </div>
                  <div class="row-3" style="justify-content: center;">
                    <input class="form-control" style="margin-top: 5px;" type="number" id="starting_km"
                      name="starting_km" required>
                    <span id="startkmError" class="error" style="color: #ffdbdb;"></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;margin-top: 10px;">start Place</span>
                  </div>
                  <div class="row-3" style="justify-content: center;">
                    <input class="form-control" style="margin-top: 5px;" type="text" id="startplace" name="startplace"
                      required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;">End Date</span>
                  </div>
                  <div class="row-3">
                    <input class="form-control" style="margin-top: 5px;" type="date" id="edate" name="edate">
                    <span></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;margin-top: 10px;">End Km</span>
                  </div>
                  <div class="row-3" style="justify-content: center;">
                    <input class="form-control" style="margin-top: 5px;" type="number" id="ending_km" name="ending_km">
                    <span id="endkmError" class="error" style="color: #ffdbdb;"></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row-3" style="margin-top: 10px;">
                    <span style="font-size: medium;color: #fff;margin-right: 10px;margin-top: 10px;">End Place</span>
                  </div>
                  <div class="row-3" style="justify-content: center;">
                    <input class="form-control" class="form-control" style="margin-top: 5px;" type="text" id="endplace"
                      name="endplace">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="parking_charge">Parking charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Vehicle Name</span>
                  <input class="form-control" type="text" id="vehiclename" name="vehiclename" required
                    placeholder="Vehicle Name">
                </div>
                <div class="form-group">
                  <!-- <label for="parking_charge">Parking charge:</label> -->
                  <span style="color: #f2f4f6;">(Format:"XX 11 XX 1111", "XX 11 X 1111")</span>
                  <input class="form-control" id="vnumber" name="vnumber" required placeholder="Vehicle number">
                  <span id="vnumberError" class="error" style="color: #f2f4f6;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="parking_charge">Parking charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Parking charge</span>
                  <input class="form-control" type="number" id="parking_charge" name="parking_charge"
                    placeholder="Parking charge">
                  <span id="parkingError" class="error" style="color: #ffdbdb;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="toll_charge">Toll Charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Toll Charge</span>
                  <input class="form-control" type="number" id="toll_charge" name="toll_charge"
                    placeholder="Toll Charge">
                  <span id="tollError" class="error" style="color: #ffdbdb;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="toll_charge">Toll Charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Guide Charge</span>
                  <input class="form-control" type="number" id="guide" name="guide" placeholder="Toll Charge">
                  <span id="guideError" class="error" style="color: #ffdbdb;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="toll_charge">Toll Charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Trip KM</span>
                  <input class="form-control" type="number" id="tripkm" name="tripkm" placeholder="Trip Km" readonly>
                  <span id="tripkmError" class="error" style="color: #ffdbdb;"></span>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="toll_charge">Toll Charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Trip charge upto 100 km </span>
                  <input class="form-control" type="number" id="hun" name="hun" placeholder="charge" required>
                  <!-- <span id="tripkmError" class="error" style="color: #ffdbdb;"></span> -->
                </div>
                <div class="form-group">
                  <!-- <label for="toll_charge">Toll Charge:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">extra charge per km after 100km</span>
                  <input class="form-control" type="number" id="after" name="after" placeholder="extra charge" required>
                  <!-- <span id="tripkmError" class="error" style="color: #ffdbdb;"></span> -->
                </div>
                <div class="form-group">
                  <!-- <label for="advance">Advance:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Total Trip charge</span>
                  <input class="form-control" type="number" id="kilo" name="kilo" placeholder="Advance"
                    value="{{trip.advance}}" readonly>
                  <span id="advanceError" class="error" style="color: #ffdbdb;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="total">Total:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Total</span>
                  <input class="form-control" type="number" id="total" name="total" placeholder="Total" readonly>
                </div>
                <div class="form-group">
                  <!-- <label for="advance">Advance:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Advance</span>
                  <input class="form-control" type="number" id="advance" name="advance" placeholder="Advance">
                  <span id="advanceError" class="error" style="color: #ffdbdb;"></span>
                </div>
                <div class="form-group">
                  <!-- <label for="advance">Advance:</label> -->
                  <span style="color: #fff;font-weight: bold;font-size: medium;">Amount To Be Paid</span>
                  <input class="form-control" type="number" id="balance" name="balance" placeholder="Balance" readonly>
                </div>
              </div>
            </div>
            <button type="submit"
              style=" border: none;border-radius: 10px;font-size: medium;font-weight: bold;color: #0056b3;">Book
              Now</button>
          </form>

      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container" style="justify-content: center;align-items: center;display: flex;">
      <div class="row" style="width: 100%;">
        <div class="col-md-3">
          <h3 style="font-size: large;">Customer Services</h3>
          <span style="font-size: medium;opacity: 0.7;">FAQ</span><br>
          <span style="font-size: medium;opacity: 0.7;">Return & Refunds</span><br>
          <span style="font-size: medium;opacity: 0.7;">Terms & Conditions</span><br>
          <p style="font-size: medium;opacity: 0.7;">Privacy Policy</p>
        </div>
        <div class="col-md-3">
          <h3 style="font-size: large;">Community</h3>
          <span style="font-size: medium;opacity: 0.7;">Blog</span><br>
          <span style="font-size: medium;opacity: 0.7;">Community</span><br>
          <span style="font-size: medium;opacity: 0.7;">Ideas</span><br>
          <p style="font-size: medium;opacity: 0.7;">Developers</p>
        </div>
        <div class="col-md-3">
          <h3 style="font-size: large;">About</h3>
          <span style="font-size: medium;opacity: 0.7;">Contact</span><br>
          <span style="font-size: medium;opacity: 0.7;">Team</span><br>
          <span style="font-size: medium;opacity: 0.7;">Careers</span><br>
          <p style="font-size: medium;opacity: 0.7;">Services</p>
        </div>
        <div class="col-md-3">
          <h3 style="font-size: large;">Follow Us</h3>
          <img src="{% static 'fb.png' %}" alt="" width="45px">
          <img src="{% static 'y1.jpg' %}" alt="" width="45px">
          <img src="{% static 'i1.png' %}" alt="" width="45px"><br>
        </div>
      </div>
    </div>
  </footer>
  <script>
    function validateForm() {
      var parking_charge = parseInt(document.getElementById("parking_charge").value);
      var toll_charge = parseInt(document.getElementById("toll_charge").value);
      var advance = parseInt(document.getElementById("advance").value);
      var start = parseInt(document.getElementById("starting_km").value);
      var end = parseInt(document.getElementById("ending_km").value);
      var vnumber = document.getElementById("vnumber").value;


      document.getElementById('parkingError').innerHTML = '';
      document.getElementById('tollError').innerHTML = '';
      document.getElementById('advanceError').innerHTML = '';
      document.getElementById('startkmError').innerHTML = '';
      document.getElementById('endkmError').innerHTML = '';
      document.getElementById('vnumberError').innerHTML = '';

      if (start < 0) {
        document.getElementById('startkmError').innerHTML = 'enter valid km';
        return false;
      }
      if (end < 0) {
        document.getElementById('endkmError').innerHTML = 'enter valid km';
        return false;
      }

      var vehicleRegex = /^[A-Za-z]{2}\s\d{2}\s[A-Za-z]{2}\s\d{4}$/;
      var vehicleRegex2 = /^[A-Za-z]{2}\s\d{2}\s[A-Za-z]{1}\s\d{4}$/;
      if (!vehicleRegex.test(vnumber) && !vehicleRegex2.test(vnumber)) {
        document.getElementById('vnumberError').innerHTML = 'Invalid vehicle number format';
        return false;
      }

      if (parking_charge < 0) {
        document.getElementById('parkingError').innerHTML = 'charges cannot be negative';
        return false;
      }
      if (toll_charge < 0) {
        document.getElementById('tollError').innerHTML = 'charges cannot be negative';
        return false;
      }
      if (advance < 0) {
        document.getElementById('advanceError').innerHTML = 'enter valid amount';
        return false;
      }
      return true;
    }
    function calculateTotal() {
      var adv = parseInt(document.getElementById('advance').value) || 0;
      var starting_km = parseInt(document.getElementById('starting_km').value);
      var ending_km = parseInt(document.getElementById('ending_km').value);
      var trip_km = isNaN(starting_km) || isNaN(ending_km) ? 0 : ending_km - starting_km;
      document.getElementById('tripkm').value = trip_km;

      var rate = 10; // Default rate
      if (trip_km > 100) {
        var a = trip_km - 100;
        trip_charge = (a * 15) + 1000;
        var total = trip_charge;
      } else {
        var trip_charge = trip_km * rate;
        var total = trip_charge;
      }
      document.getElementById('kilo').value = trip_charge;
      var parking_charge = parseFloat(document.getElementById('parking_charge').value) || 0;
      var toll_charge = parseFloat(document.getElementById('toll_charge').value) || 0;
      var guide_charge = parseFloat(document.getElementById('guide').value) || 0;
      total += parking_charge + toll_charge + guide_charge;
      document.getElementById('total').value = total;
      if (total < adv) {
        document.getElementById('balance').value = 0;
      }
      else {
        document.getElementById('balance').value = total - adv;
      }
    }

    document.getElementById('parking_charge').addEventListener('input', calculateTotal);
    document.getElementById('toll_charge').addEventListener('input', calculateTotal);
    document.getElementById('guide').addEventListener('input', calculateTotal);
    document.getElementById('ending_km').addEventListener('input', calculateTotal);
    document.getElementById('advance').addEventListener('input', calculateTotal);

    // Call calculateTotal on page load to calculate total from existing data
    window.onload = calculateTotal;

    

  </script>
</body>

</html>