<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <style>
        /* Media Queries for Responsiveness */
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0056b3;">
        <a class="navbar-brand" href="#" style="font-weight: bold;color: rgb(255, 255, 255);margin-left: 30PX;"><img
                style="margin-right: 10px;" src="/static/t2.png/" alt="" width="42px">TaxiRide</a>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;align-items: center;">
            <div style="width: 50%;align-items: baseline;;">
                <ul class="navbar-nav ml-auto" style="justify-content: space-around;align-items: baseline;">
                    <a class="nav-link" href="{%url 'mainpage'%}"
                        style="color: rgb(229, 232, 234); font-weight: bold; font-size: 1rem; outline: none; border: none; background-color: none;margin-left: 5px;">New
                        Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            style="color: rgb(237, 242, 246); font-weight: bold; font-size:medium; outline: none; border: none; background-color: none;margin-left: 5px;"
                            id="log" type="button" data-toggle="modal" data-target="#signinmodal">Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout'%}"
                            style="color: rgb(222, 228, 233); font-weight: bold; font-size: medium; outline: none; border: none;margin-left: 5px;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 50px;">
        <div class="table-responsive">
            <table class="table  text-center table-striped">
                <thead style="background-color: #0056b3;color: #f2f4f6;">
                    <tr>
                        <th>TRIP NO</th>
                        <th>DATE</th>
                        <th>BILL</th>
                        <th>EDIT</th>
                    </tr>
                </thead>
                <tbody style="background-color: #323c46;color: #f2f4f6;">
                    {%for p in trip%}
                    <tr>
                        <td>{{p.tripnumber}}</td>
                        <td>{{p.fromdate}}</td>
                        <td>
                            <button class="btn"
                                style="font-size: medium; background-color:rgb(255, 255, 255);"><a href="{%url 'bill' p.id%}"
                                    style="color: rgb(1, 9, 17);text-decoration: none;">View</a></button>
                        </td>
                        <td>
                            <button class="btn"
                                style="font-size: medium; background-color:rgb(255, 255, 255);"><a href="{%url 'edit' p.id%}"
                                    style="color: rgb(1, 9, 17);text-decoration: none;">Edit</a></button>
                        </td>
                    </tr>
                    {%endfor%}
                    <!-- Add more rows here if needed -->
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer" style="margin-top: 600px;background-color: #171616;color: #f2f4f6;">
        <div class="container" style="justify-content: center;align-items: center;display: flex;margin-top: 20px;">
            <div class="row" style="width: 100%;margin-top: 20px;justify-content: center;">
                <div class="col-md-3">
                    <h3 style="font-size: large;">Customer Services</h3>
                    <span style="font-size: medium;opacity: 0.7;">FAQ</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Return & Refunds</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Terms & Conditions</span><br>
                    <p style="font-size: medium;opacity: 0.7;">Privacy Policy</p>
                </div>
            </div><br>
    </footer>
</body>

</html>