<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <style>
        .footer {
            background-color: #333;
            color: #fff;
            padding: 50px 0;
            margin-top: 400px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0056b3;">
        <a class="navbar-brand" href="#" style="font-weight: bold;color: rgb(255, 255, 255);margin-left: 30PX;"><img
                style="margin-right: 10px;" src="{% static 't2.png' %}" alt="" width="42px">TaxiRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;align-items: center;">
            <div style="width: 50%;align-items: baseline;;">
                <ul class="navbar-nav ml-auto" style="justify-content: space-around;align-items: baseline;">
                    <a class="nav-link" href="{%url 'mainpage'%}"
                        style="color: rgb(229, 232, 234); font-weight: bold; font-size: 1rem; outline: none; border: none; background-color: none;margin-left: 5px;">New
                        Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'tripage'%}"
                            style="color: rgb(237, 242, 246); font-weight: bold; font-size:medium; outline: none; border: none;margin-left: 5px;">Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout'%}"
                            style="color: rgb(222, 228, 233); font-weight: bold; font-size: medium; outline: none; border: none;margin-left: 5px;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="a" style="margin-top: 50px;">
        <div class="table-responsive">
            <table class="table text-center table-striped">
                <thead style="background-color: #0056b3;color: #f2f4f6;">
                    <tr>
                        <th>
                            <div style="width: max-content;">
                                TRIP NO
                            </div>
                        </th>
                        <th>DATE</th>
                        <th>
                            GUEST NAME
                        </th>
                        <th>
                            <div style="width: max-content;" >
                                TRIP KM
                            </div> 
                        </th>
                        <th>
                            <div style="width: max-content;">
                                TOTAL CHARGE
                            </div>
                        </th>
                        <th>ADVANCE</th>
                        <th>BALANCE</th>
                        <th>BILL</th>
                        <th>EDIT</th>
                    </tr>
                </thead>
                {%for p in p%}
                <tbody style="background-color: #323c46;color: #f2f4f6;">
                    <tr style="vertical-align: middle;">
                        <td>
                            {{p.tripnumber}}
                        </td>
                        <td>
                            <div style="width: max-content;">
                                {{p.fromdate}}
                            </div>
                        </td>
                        <td style="padding-left: 50px;padding-right: 50px;">
                            {{p.guestname}}
                        </td>
                        <td>
                            {{p.tripkm}}
                        </td>
                        <td style="padding-left: 50px;padding-right: 50px;">
                            {{p.total}}
                        </td>
                        <td>{{p.advance}}</td>
                        <td>{{p.balance}}</td>
                        <td>
                            <button class="btn" style="font-size: medium; background-color:rgb(255, 255, 255);"><a
                                    href="{% url 'bill' p.id %}"
                                    style="color: rgb(1, 9, 17);text-decoration: none;">View</a></button>
                        </td>
                        <td>
                            <button class="btn" style="font-size: medium; background-color:rgb(255, 255, 255);"><a
                                    href="{%url 'edit' p.id%}"
                                    style="color: rgb(1, 9, 17);text-decoration: none;">Edit</a></button>
                        </td>
                    </tr>
                    <!-- Add more rows here if needed -->
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>

    <footer class="footer">
        <div class="container" style="justify-content: center;align-items: center;display: flex;">
            <div class="row" style="width: 100%;">
                <div class="col-md-3">
                    <h3 style="font-size: large;">Customer Services</h3>
                    <span style="font-size: medium;opacity: 0.7;">FAQ</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Return & Refunds</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Terms & Conditions</span><br>
                    <p style="font-size: medium;opacity: 0.7;">Privacy Policy</p>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: large;">Community</h3>
                    <span style="font-size: medium;opacity: 0.7;">Blog</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Community</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Ideas</span><br>
                    <p style="font-size: medium;opacity: 0.7;">Developers</p>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: large;">About</h3>
                    <span style="font-size: medium;opacity: 0.7;">Contact</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Team</span><br>
                    <span style="font-size: medium;opacity: 0.7;">Careers</span><br>
                    <p style="font-size: medium;opacity: 0.7;">Services</p>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: large;">Follow Us</h3>
                    <img src="{% static 'fb.png' %}" alt="" width="45px">
                    <img src="{% static 'y1.jpg' %}" alt="" width="45px">
                    <img src="{% static 'i1.png' %}" alt="" width="45px"><br>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>